body {
  background-color: lightblue;
}
input[type=button], input[type=submit] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
table{
  background-color:#f2f2d1; 
}